.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom {
  background: linear-gradient(to right, #e2dede, #96b50d, #125800);
  color: white; /* Ajusta el color del texto para que sea legible sobre el fondo */
}
/* Estilo para la fuente personalizada */

.titulo-personalizado {
  font-family: cursive;
  font-size: 45px;
  font-weight: bold; /* Opcional: ajusta el peso de la fuente */
  color: #231717; /* Opcional: ajusta el color del texto */
}
.table-header-gradient {
  background: linear-gradient(to right, #3498db, #e74c3c);
  color: rgb(255, 255, 255);
}
.custom-icon {
  font-size: 1.4rem; /* Tamaño personalizado, ajusta según tus necesidades */
  color: rgb(255, 255, 255);
}
/* styles.css (o tu archivo de estilos preferido) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente */
  z-index: 999; /* Asegura que la capa esté por encima de otros elementos */
}
/* styles.css */
.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}
