.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom {
  background-color: #bbc3d7;
  color: #a84141;
}
/* Estilo para la fuente personalizada */

.titulo-personalizado {
  font-family: cursive;
  font-size: 45px;
  font-weight: bold; /* Opcional: ajusta el peso de la fuente */
  color: #231717; /* Opcional: ajusta el color del texto */
}
