// Importa las variables y archivos de Bootstrap necesarios
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Define tus colores personalizados
$custom-color-1: #2161b0; // Primer color
$custom-color-2: #2800c7; // Segundo color
$custom-color-3: #416700; // Segundo color
$custom-color-5: #003967; // Segundo color
$custom-gradient: linear-gradient(to right, #4c31b8, #aec216);

// Defisne tus colores personalizados en el mapa $custom-colors
$custom-colors: (
  "custom-color-1": $custom-color-1,
  "custom-color-2": $custom-color-2,
  "custom-color-5": $custom-color-5,
);

// Fusiona tus colores personalizados con los colores de Bootstrap en el mapa $theme-colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// Importa los estilos de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.custom-button {
  background: $custom-gradient; // Aplica el gradiente personalizado como fondo
  color: #ffffff; // Color de texto personalizado
  border: none; // Elimina el borde si lo deseas
  border-radius: 5px; // Añade bordes redondeados si lo deseas
  padding: 10px 20px; // Ajusta el espacio interno según tus necesidades
  font-size: 16px; // Ajusta el tamaño de fuente según tus necesidades
}

.badge-custom-1 {
  background-color: $custom-color-3;
  color: #fff; // Puedes ajustar el color del texto según tus necesidades
}

.badge-custom-2 {
  background-color: $custom-color-2;
  color: #fff;
}

.dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
  clear: both;
  font-weight: $font-weight-normal;
  color: var(--#{$prefix}dropdown-link-color);
  text-align: inherit; // For `<button>`s
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s
  @include border-radius(var(--#{$prefix}dropdown-item-border-radius, 0));

  &:hover,
  &:focus {
    color: var(--#{$prefix}dropdown-link-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
    @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
  }

  &.active,
  &:active {
    color: var(--#{$prefix}dropdown-link-active-color);
    text-decoration: none;
    @include gradient-bg(var(--#{$prefix}dropdown-link-active-bg));
  }

  &.disabled,
  &:disabled {
    color: var(--#{$prefix}dropdown-link-disabled-color);
    pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
  }
}
